.expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
  }
  .expenseItemDescription {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  .expenseItem h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  .expenseItemPrice {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
  @media (min-width: 580px) {
    .expenseItemDescription {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
    .expenseItemDescription h2 {
      font-size: 1.25rem;
    }
    .expenseItemPrice {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }