@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #BCCCDC;
}
h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 0.875rem;}
@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
}
.section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}
  
@media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
}
.btn {
    background: #1A6AA2;
    display: inline-block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    text-transform: capitalize;
    color:#fff;
    letter-spacing: 0.1rem;
    border-color: transparent;
    cursor: pointer;
    margin-top: 3rem;
    font-size: 1.5rem;
}
/*
=============== 
Phones
===============
*/
main {
    width: 90vw;
    max-width: 620px;
    margin: 5rem auto;
}
.loading {
    text-align: center;
}
.title {
    text-align: center;
    margin-bottom: 4rem;
}
.underLine {
    width: 6rem;
    height: 0.25rem;
    background: #1A6AA2;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}
.phone {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0.5rem;
    margin: 2rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s linear;
}
.phone:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.phone img {
    width: 50%;
    height: 24rem;
    object-fit: cover;
    margin: 8px auto;

    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.phoneInfo {
    display: grid;
    grid-template-columns: 5fr 2fr 5fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 1.8rem;
}
.phoneInfo h4 {
    margin-bottom: 0;
}

.phoneInfo h4:nth-child(odd) {
  padding: 0.6rem 0.5rem;
  font-size: 0.875rem;
}

.phoneAmount {
  text-align: right;
}

.phone button {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: #1A6AA2;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.25rem;
}
.phonePrice {
    color: #1A6AA2;
    background: #BCCCDC;
    padding: 0.6rem 0.5rem;
    border-radius: 0.5rem;
}

.phone footer {
    padding: 1.5rem 2rem;
}
.phone .deleteBtn {
    display: block;
    width: 150px;
    margin: 1rem auto 0 auto;
    color: #BB2528;
    letter-spacing: 0.1rem;
    background: transparent;
    border: 1px solid #BB2528;
    padding: 0.6rem 0.5rem;
    border-radius: 0.5rem;
}