html {
    background: url("https://images2.alphacoders.com/787/787695.jpg");
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.App { 
    text-align: center;
    /*background-color: #E5E5E5;*/
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(8px);
    width: 800px;
    border-radius: 2rem;
    margin: 70px auto;

}

.title {
    margin: 10px;
}

h1 {
    font-size: 1.8rem;
    margin: 35px auto 5px auto;
}

h2 {
    font-size: 1.8rem;
    margin: 5px auto;
    padding: 10px;
}


.underLine {
    text-decoration: underline;
    color: red;
    border-bottom: 2px solid;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
}

.review {
    display: flex;
    justify-content: center;

}

.characterImg {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
    margin: 20px 40px;
    width: 200px;
    height: 300px;
}

p {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.characterInfo {
    flex: 1;
}

.buttonContainer {
    flex: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10%;

}


.prevBtn {
    border: transparent;
    color: #000;
    background: transparent;
    cursor: pointer;
}

.nextBtn {
    border: transparent;
    color: #000;
    background: transparent;
    cursor: pointer;
}

.randomBtn {
    border: transparent;
    cursor: pointer;
    color: #000;
    background: transparent;
}
